{% extends 'base-client.html' %}


{% block title %} Clientes - Sistema DB {% endblock %}

{% block client_name %}{{person.first_name}}{% endblock %}





{% block main %}
<!-- Begin Page Content -->
                <div class="container-fluid">
                    <br/>
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">

                        <h1 class="h3 mb-0 text-gray-800">Clientes</h1>
                        <a href="{% url 'person_new' %}" class="btn btn-primary">{{ person.first_name }}</a>


                    </div>

                    <!--
                    <h1 class="h3 mb-2 text-gray-800">Clientes</h1>
                    <a href="{% url 'person_new' %}" class="btn btn-primary"> Novo cliente</a>
                    -->

                    <br/>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <br/>
                            <h6 class="m-0 font-weight-bold text-primary">Tabela de Clientes</h6>
                            <br/>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Sobrenome</th>
                                            <th>Idade</th>
                                            <th>Salario</th>
                                            <th><i class="fa fa-trash" aria-hidden="true"></i></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Sobrenome</th>
                                            <th>Idade</th>
                                            <th>Salario</th>
                                            <th><i class="fa fa-trash" aria-hidden="true"></i></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                     {% for person in persons %}
                                        <tr>
                                            <td><a href="{% url 'persons_update' person.id %}">{{ person.first_name }}</a></td>
                                            <td>{{ person.last_name }}</td>
                                            <td>{{ person.age }}</td>
                                            <td>{{ person.salary }}</td>
                                            <td>
                                                <a href="{% url 'persons_delete' person.id %}" class="trash-item">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

 <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>


{% endblock %}
